.filter-box {
    width: 10vmax;
    position: absolute;
    /* top: 10vmax; */
    /* left: 4vmax; */
}

.category-box {
    padding: 0%;
}

.category-link {
    list-style: none;
    color: rgba(0, 0, 0, 0.61);
    font: 400 0.8vmax sans-serif;
    margin: 0.4vmax;
    cursor: pointer;
    transition: all 0.5s;
}

.category-link:hover {
    color: var(--primary-color);
}